<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Kubernetes容器云</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}"/>
    <link rel="bookmark" th:href="@{/static/img/favicon.ico}"/>
    <th:block th:replace="fragments/css/css-import::core-css"/>
</head>
<body class="layui-layout-iframe-body">
<div class="layui-breadcrumb">
    <a>首页</a>
    <a><cite>应用管理</cite></a>
</div>
<div class="main-content">
    <div class="main-panel">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">部署应用</div>
                    <div class="layui-card-body">
                        <table class="layui-hide" id="development"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<th:block th:replace="fragments/js/js-import::core-js"/>
<script th:src="@{/static/js/views/application-management.js}"></script>
</html>